.img-logo {
  background-color: #89c350;
  border-radius: 15px;
  width: 53%;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  margin: 2rem auto;
  color: #ffff;
}

.img-logo-transfers {
  height: 50px;
  width: auto;
  margin-left: 1px;
}

.login-div {
  border: solid rgb(155, 153, 153) 1px;
  border-radius: 25px;
  width: 35%;
  margin: 5% auto;
  padding: 15px;
  padding-bottom: 50px;
  background: linear-gradient(351deg, #87c24c, transparent);
}

.flex-container {
  display: flex;
}

.input-fields-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.send-money {
  margin-top: 60px;
  margin-right: auto;
  margin-left: 26%;
  font-weight: bold;
  font-size: 1.2em;
}

.connections {
  margin-top: 60px;
  margin-right: 25%;
}

.my-transactions {
  margin-top: 50px;
  margin-right: auto;
  margin-left: 26%;
  font-weight: bold;
  font-size: 1.2em;
}

.table-container {
  border: solid rgb(212, 212, 212) 2px;
  margin: auto;
  margin-top: 20px;
  width: 50%;
  text-align: center;
}

.paging-div {
  display: flex;
  justify-content: center;
}

.info-page-container {
  margin-left: 33%;
  margin-top: 20;
}

button {
  min-width: 220px;
}

table {
  table-layout: auto;
  width: 100%;
}

thead {
  background-color: #61b95a;
  color: rgb(255, 255, 255);
}

tr {
  height: 100px;
}

/* Navigation bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  background-color: #61b95a;
}

/* Profile Page */
.profile-container {
  display: flex;
  margin-left: 40%;
  margin-right: auto;
  margin-top: 3%;
}

.personal-info-div {
  border: solid rgb(0, 201, 67);
  border-radius: 10px;
  margin-right: 10px;
  padding: 6%;
  padding-top: 4%;
  min-width: 300px;
}

.balance-div {
  border: solid rgb(32, 7, 65);
}

.profile-tr {
  height: 45px;
  font-size: large;
}

@media screen and (max-width: 900px) {
  .login-div {
    width: 50%;
  }

  .form-inline {
    display: grid;
  }

  .send-money {
    display: none;
  }

  .input-fields-container {
    margin-top: 1rem;
  }

  .connections {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .table-container {
    width: 95%;
  }

  .img-logo-transfers {
    width: 35%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .nav_panel {
    display: grid;
  }

  .profile-container {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
  }
}

@media screen and (max-width: 600px) {
  .login-div {
    width: 60%;
  }

  .modal-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .img-logo {
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .login-div {
    width: 85%;
  }

  .img-logo-transfers {
    width: 60%;
  }
}

@media screen and (max-width: 300px) {
  button {
    min-width: 150px;
  }

  .table-container {
    font-size: 1rem;
  }

  .btn-lg {
    font-size: 0.8rem;
  }
}
