<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Pay My Buddy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link th:href="@{/main.css}" rel="stylesheet" />

  </head>
  <body>
    <br>
    <br>
    <br>
    <br>
    <div class="info-page-container">
      <h4>This is one of the projects I did during my training at Openclassrooms:</h4>
      <a href="https://openclassrooms.com/fr/paths/191-developpeur-dapplication-java">
        https://openclassrooms.com/fr/paths/191-developpeur-dapplication-java
      </a>
      <br>
      <br>
      <h4>Gitub link:</h4>
      <a href="https://github.com/senichek/paymybuddy">
        https://github.com/senichek/paymybuddy
      </a>
      <br>
      <br>
      <h4>The project's features:</h4>
      1. User registration/login;
      <br>
      2. User can add another user to his "connections" (friend's list);
      <br>
      3. User can transfer money to his friends;
      <br>
      4. User can add balance (money) to his/her own account;
      <br>
      5. User can modify his/her personal information;
      <br>
      <br>
      <a href="/login" class="btn btn-success" style="margin-left: 10%;" role="button" aria-pressed="true">START</a>
    </div>
  </body>
</html>